<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LearnEaseEndeavor_Forms.Properties.Settings.LEEConnectionString"
            connectionString="Data Source=HQ-10051902L2\SQLEXPRESS02;Initial Catalog=LEE;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>